src/main/resources/wsdl/myService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.bawi.com/myService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="myService"
	targetNamespace="http://www.bawi.com/myService/">
	<wsdl:types>
		<xsd:schema>

			<xsd:import namespace="http://www.bawi.com/myService/" schemaLocation="../xsd/NewXMLSchema.xsd" />
		<!-- 
			<xsd:schema targetNamespace="http://www.bawi.com/myService/">
				<xsd:element name="NewOperationRequest">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="in" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="NewOperationResponse">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="out" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
		 -->
			</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperationRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="myService">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="myServiceSOAP" type="tns:myService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/myService/NewOperationRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="myService">
		<wsdl:port binding="tns:myServiceSOAP" name="myServiceSOAP">
			<soap:address location="http://www.bawi.com/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
