my-xml/src/main/resources/chameleon_namespace_design/qualified_elementFormDefault/name_collisions/PersonB.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:complexType name="PersonType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string" />
            <xsd:element name="SSN" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PersonName">
        <xsd:sequence>
            <xsd:element name="first" type="xsd:string" />
            <xsd:element name="last" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
