my-not-thread-safe-web-service/src/main/resources/wsdl/calculatorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.bawi.com/calculator"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="calculator"
    targetNamespace="http://services.bawi.com/calculator">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://services.bawi.com/calculator" schemaLocation="../xsd/calculator.xsd" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CalculatorThreadSafeRQ">
        <wsdl:part element="tns:CalculatorThreadSafeRQ" name="request" />
    </wsdl:message>
    <wsdl:message name="CalculatorNotThreadSafeRQ">
        <wsdl:part element="tns:CalculatorNotThreadSafeRQ" name="request" />
    </wsdl:message>
    <wsdl:message name="CalculatorRS">
        <wsdl:part element="tns:CalculatorRS" name="response" />
    </wsdl:message>
    <wsdl:message name="CalculatorFault">
        <wsdl:part element="tns:CalculatorRS" name="fault" />
    </wsdl:message>

    <wsdl:portType name="calculatorServiceInterface">
        <wsdl:operation name="calculateThreadSafe">
            <wsdl:input name="calculatorRequest" message="tns:CalculatorThreadSafeRQ" />
            <wsdl:output name="calculatorResponse" message="tns:CalculatorRS" />
            <wsdl:fault name="calculatorError" message="tns:CalculatorFault" />
        </wsdl:operation>
        <wsdl:operation name="calculateNotThreadSafe">
            <wsdl:input name="calculatorRequest" message="tns:CalculatorNotThreadSafeRQ" />
            <wsdl:output name="calculatorResponse" message="tns:CalculatorRS" />
            <wsdl:fault name="calculatorError" message="tns:CalculatorFault" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="calculatorSOAP" type="tns:calculatorServiceInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="calculateThreadSafe">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateNotThreadSafe">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="calculator">
        <wsdl:port binding="tns:calculatorSOAP" name="calculatorSOAP">
            <soap:address location="http://services.bawi.com/calculator" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
