my-jaxb/src/main/resources/xsd/MyServiceRQ.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="MyElement">
        <xs:complexType>
            <xs:attribute ref="MyAttribute"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="MyAttribute" type="xs:string"/>

    <xs:element name="MyServiceRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MyElement" />
            </xs:sequence>
            <xs:attribute name="MyElement" type="xs:int" />
        </xs:complexType>
    </xs:element>

</xs:schema>
